@use "../../../Assets/Bundles/bundles.scss" as c;

.pageContainerLogin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 20%;
  grid-gap: 1rem;


  .branding {
    margin: auto auto;
    img {
      margin-left: 15%;
    }
    p {
      text-align: center;
    }
  }

  .loginContainer {
    background-color: c.$loginform;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px lightgrey;

    h1 {
      padding-top: 10%;
      padding-left: 10%;
      font-weight: 400;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      border-radius: 5px;
      padding: 3rem;

      .error {
        color: red;
        text-align: center;
      }

      input {
        padding: 10px;
        border-radius: 5px;
        width: 25vw;
      }

      #login {
        padding: 10px;
        background-color: c.$forrest-green;
        width: 100%;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        border-radius: 10%;
      }
    }
    #logout {
      padding: 10px;
      background-color: red;
      width: 100%;
      color: white;
      font-weight: bold;
      border: none;
      cursor: pointer;
      border-radius: 10%;
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .pageContainerLogin {
    grid-template-columns: 1fr;
    margin: auto auto;
    .loginContainer {
      margin-left: 15%;
      form {
        input {
          width: 50vw;
        }
        #login,
        #logout {
          justify-content: center;
        }
      }
    }
  }
}
