@use "../../../Assets/Bundles/bundles.scss" as c;

.pageContainer {
  width: 70vw;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 5px 5px 5px 5px lightgrey;
  margin: 3rem 15%;
  background-color: #dcdcdc;
  border-radius: 5px;
  .dataContainer {
    .info {
      padding: 2rem;
      h2 {
        font-weight: 400;
      }
    }
  }
  .formContainer {
    width: 100%;
    height: 100%;
    background-color: c.$forrest-green;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    img {
      padding: 1rem;
    }
  }

  .containersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 3rem 2rem;

    .containerCard {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
      }
      &:hover {
        transform: scale(1.2);
        transition: transform 1.05s ease-in-out;
        border: 7px solid c.$forrest-green;
      }

      figcaption {
        p {
          padding-bottom: 0.3rem;
          color: black;
        }
      }

      img {
        display: block;
        object-fit: contain;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: auto auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pageContainer {
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto auto;

    .containersWrapper {
      grid-template-columns: 1fr;
      grid-gap: 0.5rem;
    }
  }
}
