@use "../../../Assets/Bundles/bundles.scss" as c;

.pageWrapper {
  width: 70vw;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 5px 5px 5px 5px lightgrey;
  margin: 3rem 15%;
  background-color: #dcdcdc;
  border-radius: 5px;

  .info {
    padding: 2rem;
    h2 {
      font-weight: 400;
    }
  }
  .sideBar {
    width: 100%;
    height: 100%;
    background-color: c.$forrest-green;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    img {
      padding: 1rem;
    }
  }

  form {
    margin: 2rem;
    .success {
      color: c.$darker-green;
    }

    input {
      width: 100%;
      height: 25px;
      border: none;
      padding: 0.5rem;
      margin: 0.2rem;
      box-shadow: 5px 5px 5px 5px lightgrey;
      border-radius: 5px;
    }
    input::placeholder {
      font-family: "c.$jost";
      font-size: 1rem;
      opacity: 0.5;
      padding-left: 0.5rem;
    }
    .btnForm {
      display: flex;
      justify-content: flex-end;
      margin-top: 3rem;
      margin-right: 1rem;
      button {
        padding: 0.6rem;
        font-size: 0.9rem;
        text-align: center;
        background-color: c.$light-green;
        border-radius: 5px;
        border: none;
        width: 25%;
        box-shadow: 5px 5px 5px 5px lightgrey;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pageWrapper {
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto auto;
    form {
      .btnForm {
        justify-content: center;
      }
    }
  }
}
