@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

//Fonts
$open-sans: "Open Sans";
$jost: "Jost";

// Colors
$light-green: #d8eadb;
$darker-green: #62bb65;
$nav: #6da830;
$forrest-green: #114d46;
