.flexWrap {
  display: flex;
  justify-content: center;
  margin-top: 7%;

  .sortingWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;

    .sortingCard {
      box-shadow: 5px 5px 5px 5px lightgrey;
      border: solid 1px lightgrey;
      border-radius: 20px;
      max-width: 300px;

      figure {
        figcaption {
          padding: 0.5rem;
          text-align: center;
          color: white;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
        img {
          width: 100%;

          display: block;
          object-fit: contain;
        }
      }
      &:hover {
        transform: scale(1.06);
        transition: transform 1.05s ease-in-out;
      }
    }
  }
}
