@use "../../../Assets/Bundles/bundles.scss" as c;

.reviewForm {
  margin: 1rem 20%;
  display: flex;
  justify-content: center;

  .success {
	color: c.$darker-green;
  }
  span {
	color: red;
  }

  .flexBox {
    display: flex;
    justify-content: space-between;

    h2 {
      margin: auto auto;
      font-weight: 400;
    }
    select,
    label {
      margin: 1rem;
    }
  }

  .infoForm {
    width: 100%;

    input {
      margin: 0.5rem;
      width: 100%;
      height: 2em;
      box-shadow: 5px 5px 5px 5px lightgrey;
      border: solid 1px lightgrey;
      border-radius: 20px;
      padding: 2%;
    }

    textarea {
      margin: 0.5rem;
      resize: none;
      width: 100%;
      height: 7em;
      box-shadow: 5px 5px 5px 5px lightgrey;
      border: solid 1px lightgrey;
      border-radius: 20px;
      padding: 2%;
    }
  }

  .commentBtn {
    display: flex;
    justify-content: center;
	align-items: center;
	padding: 3%;


   button {
	background-color: c.$light-green;
	border: none;
	color: c.$darker-green;
	padding: 3%;
	width: 40%;
	box-shadow: 5px 5px 5px 5px lightgrey;
      border: solid 1px lightgrey;
      border-radius: 20px;
	  display: flex;
    justify-content: center;
	align-items: center;

	  img {
		margin: 2%;
	  }

	  &:hover {
		border: 2px solid c.$darker-green;
		cursor: pointer;
		font-weight: 600;
	  }
   }
  }
}
