@use "../../../Assets//Bundles/bundles.scss" as c;
.speechBubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$light-green;
  width: 30%;
  height: 3rem;
  margin: auto auto;
  border-radius: 10px;

  h3 {
    padding: 1rem;
    color: c.$darker-green;
    font-weight: 400;
  }
}

.reviewWrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 20vw;
  margin: 2rem;

  h3 {
    font-weight: 400;
  }

  .reviewInfo {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .speechBubble {
    width: 100%;
  }
  .reviewWrapper {
    grid-template-columns: 1fr;
    padding: 0;
    .reviewInfo {
      grid-template-columns: 100%;
	  
    }
  }
}
